.font-size-0_5{
    font-size: 0.5rem;
}

.font-size-1{
    font-size: 1rem;
}

.font-size-1_2{
    font-size: 1.2rem;
}


.font-size-1_5{
    font-size: 1.5rem;
}

.font-size-2{
    font-size: 2rem;
}

.font-size-2_5{
    font-size: 2.5rem;
}

.font-size-3{
    font-size: 3rem;
}

.ml-7{
    margin-left: 7rem;
}

.ml-9{
    margin-left: 9rem;
}

